<!doctype html>
{% load static %}
{% load tags %}
{% load trans from i18n %}
{% block head %}
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
        <script src="{% static "js/materialize.min.js" %}"></script>

        {% block css %}
        {% endblock %}

        {% block js %}
        {% endblock %}


    </head>

{% endblock %}

<body>

<nav style="z-index: 3; margin-bottom: 3px">
    <div class="nav-wrapper light-blue lighten-3">
        <a href="/" class="brand-logo right black-text">PlacesRemember</a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
            {% if not user.is_authenticated %}
                <li><a class="black-text" href="/login/vk-oauth2">Login via VK</a></li>
                <li><a class="black-text" href="/login/facebook">Login via Facebook</a></li>
            {% else %}
                <li><a class="black-text" href="/logout">Logout</a></li>
            {% endif %}

        </ul>
    </div>
</nav>


<div class="container">
    {% block content %}
    {% endblock %}
</div>


{% block end_js %}
{% endblock %}
</body>